<div>
    <%= data.name %></h1>
</div>
<form data-target="/item/buy/<%= data.id %>" id="buy-form" onsubmit="return false;">
    <input type="hidden" value="<%= balance.id %>" name="balanceId">
    <input type="hidden" value="<%= balance.amount %>" name="balance">
    <input type="hidden" value="<%= data.price %>" name="price">
    <div class="d-flex flex-row-reverse mt-3">
        <button class="btn color-primary" type="submit">Beli</button>
    </div>
</form>