<img src="/uploads/<%= data.image %>" class="img-fluid image-item mb-3">
<h2><%= data.name %></h2>
<p><%= data.description %> </p>
<form data-target="/item/buy/<%= data.id %>" id="buy-form" onsubmit="return false;">
    <input type="hidden" name="image" value="<%= data.image %>">
    <input type="hidden" value="<%= balance.id %>" name="balanceId">
    <input type="hidden" value="<%= balance.amount %>" name="balance">
    <input type="hidden" value="<%= data.price %>" name="item_price">
    <% if(loggedIn) { %>
    <div class="d-flex flex-row-reverse mt-3">
        <button class="btn color-primary" type="submit">Beli</button>
    </div>
    <% } %>
</form>
<script>
    $(document).on("submit", "#buy-form", function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).data("target"),
            type: "POST",
            data: {
                balanceId: $("input[name=balanceId]").val(),
                balance: $("input[name=balance]").val(),
                item_price: $("input[name=item_price]").val(),
                image: $("input[name=image]").val(),
            },
            dataType: "json",
            beforeSend: function () {
                $("button").attr("disabled", true); 
            },
            success: function (response) {
                $("button").attr("disabled", false);
                if (response.status_code == 500) return toastAlert("error", response.message);
                if (response.status_code == 400) return toastAlert("error", response.message);

                toastAlert("success", response.message);
                $("#withdraw-form").trigger("reset");
                formModal.hide();
                balanceBox()
                items()
            },
            error: function (reject) {
                $("button").attr("disabled", false);
                toastAlert("error", "Terjadi kesalahan pada server");
                formModal.hide();
                balanceBox()                
                items()
            }
        })
    })
</script>