<img src="<%= data.image %>" class="img-fluid image-item mb-3">
<h5><%= data.name %></h5>
<p><%= data.description %> </p>
<form data-target="/item/buy/<%= data.id %>" id="buy-form" onsubmit="return false;">
    <input type="hidden" value="<%= balance.id %>" name="balanceId">
    <input type="hidden" value="<%= balance.amount %>" name="balance">
    <input type="hidden" value="<%= data.price %>" name="item_price">
    <% if(loggedIn) { %>
    <div class="d-flex flex-row-reverse mt-3">
        <button class="btn color-primary" type="submit">Beli</button>
    </div>
    <% } %>
</form>